@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");

body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background: #3a1c71; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #c59c81,
    #ca9a9f,
    #4d3e69
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7dece,
    #d6aeb2,
    #beb0d8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
